.login-form {
  height: 100vh;
}

.nav-container {
  background-color:black;
  color: white;
  padding-right:10% ;
  padding-left:10% ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.nav-container>a { 
  font-size: 1.5rem;
  color: red;
  text-decoration: none;
}

.home-container{ 
  height: 80vh;
}

.card-details {
  width: 60vh;
  height: auto;
  background-color: rgb(238, 238, 136);
  font-family: cursive;
  border-radius: 10px;
}

.tasks-list {
  margin-top: 5%;
  padding-right:20px ;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  list-style-type: circle;
}
.selected-li {
  cursor: pointer;
  list-style-type: none;
}

.note-input{ 
  background: transparent;
  border: none;
}
.add-btn{ 
  border-radius: 50%;
}
.del-btn{ 
  border-radius: 50%;
}