.login-form {
  height: 100vh;
}

.nav-container {
  background-color: aqua;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.home-container{ 
  height: 80vh;
}

.card-details {
  width: 60vh;
  height: auto;
  background-color: rgb(238, 238, 136);
  font-family: cursive;
  border-radius: 10px;
}

.tasks-list {
  margin-top: 5%;
  padding-right:20px ;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  list-style-type: circle;
}
.tasks-list>li {
  cursor: pointer;
}